.DS_Store

config.erl
install.mk
rel/*.config
rel/dev*
rel/tmpdata
apps/
/log
tmp/

*.o
*.so
ebin/

dev/boot_node.beam
dev/lib/
dev/logs/

share/server/main-coffee.js
share/server/main.js
share/www

apps/couch/priv/couch_js/config.h
apps/couch/priv/couchjs
apps/couch/priv/couchspawnkillable

bin/
