{deps_dir, "apps"}.

{sub_dirs, ["rel"]}.

{lib_dirs, ["apps/"]}.

{erl_opts, [debug_info]}.

{eunit_opts, [verbose]}.

{plugins, [eunit_plugin]}.

{post_hooks, [{compile, "escript support/build_js.escript"}]}.

{deps, [
	{b64url, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-b64url.git",
			{branch, "master"}}},
	{cassim, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-cassim.git",
			{branch, "master"}}},
	{couch_log, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-couch-log.git",
			{branch, "master"}}},
	{config, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-config.git",
			{branch, "master"}}},
	{chttpd, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-chttpd.git",
			{branch, "master"}}},
	{couch, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-couch.git",
			{branch, "master"}}},
	{couch_index, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-couch-index.git",
			{branch, "master"}}},
	{couch_mrview, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-couch-mrview.git",
			{branch, "master"}}},
	{couch_replicator, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-couch-replicator.git",
			{branch, "master"}}},
	{couch_dbupdates, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-couch-dbupdates.git",
			{branch, "master"}}},
	{couch_plugins, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-couch-plugins.git",
			{branch, "master"}}},
	{couch_event, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-couch-event.git",
			{branch, "master"}}},
	{couch_stats, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-couch-stats.git",
			{branch, "master"}}},
	{docs, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-documentation.git",
			{branch, "master"}},
			[raw]},
	{ddoc_cache, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-ddoc-cache.git",
			{branch, "master"}}},
	{ets_lru, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-ets-lru.git",
			{branch, "master"}}},
	{fabric, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-fabric.git",
			{branch, "master"}}},
	{fauxton, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-fauxton.git",
			{branch, "master"}},
			[raw]},
	{folsom, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-folsom.git",
			{branch, "master"}}},
	{global_changes, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-global-changes.git",
			{branch, "master"}}},
	{goldrush, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-goldrush.git",
			{tag, "0.1.6"}}},
	{ibrowse, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-ibrowse.git",
			{branch, "master"}}},
	{ioq, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-ioq.git",
			{branch, "master"}}},
	{jiffy, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-jiffy.git",
			{branch, "master"}}},
	{khash, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-khash.git",
			{branch, "master"}}},
	{meck, ".*",
		{git, "https://git-wip-us.apache.org/repos/asf/couchdb-meck.git",
			{branch, "master"}}},
	{mem3, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-mem3.git",
			{branch, "master"}}},
	{mochiweb, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-mochiweb.git",
			{branch, "master"}}},
	{oauth, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-oauth.git",
			{branch, "master"}}},
	{rexi, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-rexi.git",
			{branch, "master"}}},
	{snappy, ".*",
		{git,"https://git-wip-us.apache.org/repos/asf/couchdb-snappy.git",
			{branch, "master"}}}
]}.
