{deps_dir, "apps"}.

{sub_dirs, ["rel"]}.

{lib_dirs, ["apps/"]}.

{erl_opts, [debug_info]}.

{eunit_opts, [verbose]}.

{plugins, [eunit_plugin]}.

{post_hooks, [{compile, "escript support/build_js.escript"}]}.

{deps, [
    {config, ".*",
        {git,"https://github.com/strmpnk/couchdb-config",
            {branch, "master"}}},
    {couch_httpd, ".*",
        {git, "https://github.com/strmpnk/couchdb-httpd",
            {branch, "master"}}},
    {couch_store, ".*",
        {git,"https://github.com/strmpnk/couchdb-store",
            {branch, "master"}}},
    {docs, ".*",
        {git,"https://github.com/strmpnk/couchdb-documentation",
            {branch, "master"}},
            [raw]},
    {fauxton, ".*",
        {git,"https://github.com/strmpnk/fauxton",
            {branch, "master"}},
            [raw]}
    % {b64url, ".*",
    %     {git,"https://github.com/davisp/b64url",
    %         {branch, "master"}}},
    % {cassim, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-cassim",
    %         {branch, "master"}}},
    % {chttpd, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-chttpd",
    %         {branch, "master"}}},
    % {couch_dbupdates, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-dbupdates",
    %         {branch, "master"}}},
    % {couch_event, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-event",
    %         {branch, "master"}}},
    % {couch_index, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-index",
    %         {branch, "master"}}},
    % {couch_log, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-log",
    %         {branch, "master"}}},
    % {couch_mrview, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-mrview",
    %         {branch, "master"}}},
    % {couch_plugins, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-plugins",
    %         {branch, "master"}}},
    % {couch_replicator, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-replicator",
    %         {branch, "master"}}},
    % {couch_stats, ".*",
    %     {git,"https://github.com/couchdb-stats",
    %         {branch, "master"}}},
    % {ddoc_cache, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-ddoc-cache",
    %         {branch, "master"}}},
    % {ets_lru, ".*",
    %     {git,"https://github.com/strmpnk/ets-lru",
    %         {branch, "master"}}},
    % {fabric, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-fabric",
    %         {branch, "master"}}},
    % {folsom, ".*",
    %     {git,"https://github.com/boundary/folsom",
    %         {branch, "master"}}},
    % {global_changes, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-global-changes",
    %         {branch, "master"}}},
    % {goldrush, ".*",
    %     {git,"https://github.com/DeadZen/goldrush",
    %         {tag, "0.1.6"}}},
    % {ibrowse, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-ibrowse",
    %         {branch, "master"}}},
    % {ioq, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-ioq",
    %         {branch, "master"}}},
    % {jiffy, ".*",
    %     {git,"https://github.com/davisp/jiffy",
    %         {branch, "master"}}},
    % {khash, ".*",
    %     {git,"https://github.com/strmpnk/erlang-khash",
    %         {branch, "master"}}},
    % {meck, ".*",
    %     {git, "https://github.com/eproxus/meck",
    %         {branch, "master"}}},
    % {mem3, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-mem3",
    %         {branch, "master"}}},
    % {mochiweb, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-mochiweb",
    %         {branch, "master"}}},
    % {oauth, ".*",
    %     {git,"https://github.com/strmpnk/couchdb-oauth",
    %         {branch, "master"}}},
    % {rexi, ".*",
    %     {git,"https://github.com/strmpnk/rexi",
    %         {branch, "master"}}},
    % {snappy, ".*",
    %     {git,"https://github.com/strmpnk/erlang-snappy",
    %         {branch, "master"}}}
]}.
